.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list {
  display: grid;

  gap: 20px;

  margin: auto;
}

@media screen and (min-width: 800px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}