.container {
  min-width: 400px;
  max-width: 500px;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.description {
  margin-top: 10px;
}

.title {
  font-weight: bold;
}

.readMore {
  display: block;
  text-align: right;
  text-decoration: none;
}